.ast-currently-viewing {
    font-family: @font-family-sans-serif;
    border-top:1px solid @baseContrast;
    border-bottom:1px solid @baseContrast;
    color:@gray;
    .x-rem(padding-top,0.25);
    .x-rem(padding-bottom,0.25);
    .x-rem(font-size,@font-size-small);
    .x-rem(margin-bottom,2.5);
}