// header
.ast-header {
    position: relative;
    .x-rem(padding-top,2.5);;
    .x-rem(margin-bottom,@line-height-base);

    // header logo
    .ast-header-image {
        position: absolute;
        left:0;
        top:0;
        width:100%;
        height:100%;
        z-index: -1;
    }

}

// logo wrap
.ast-brand-wrap {
    .ast-width;
    .clearfix();
    position: relative;

    h1,h2 {
        font-family: @font-family-sans-serif;
    }

    h1 {
        .x-rem(font-size,2.5);
        margin-bottom: 0;
        font-weight:bold;
        a {
            color:@text-color;
        }
    }

    h2 {
        .x-rem(font-size,2);
        .x-rem(line-height,2);
        margin-bottom: 0;
    }

    .ast-site-logo {
        float:left;
    }

}

// menu toggle button
.ast-menu-toggle {
    color:@text-color;
    position: absolute;
    right:0;
    top:20px;
    .transition(.2s ease);

    &:hover,
    &:active,
    &:focus {
        outline:0;
        text-decoration: none;
    }
}

// main site wrapper
.ast-site-wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
}

// site content wrapper
.ast-site-main {
    .transition(.2s ease);
}

.logged-in {
    margin-top:-32px;
}

// off canvas menu wrap
.ast-menu-wrap {
    position: fixed;
    top:0;
    bottom:0;
    height:100%;
    left:-@menu-width;
    width:@menu-width;
    padding:@grid-gutter-width;
    background:black;
    .transition(.2s ease);
}
// inner ul menu
.ast-menu {

    a {
        line-height:3;
        color:white;
    }
}

// menu open state
.ast-menu-open {

    .ast-site-main {
         -webkit-transform: translateX(@menu-width);
             -moz-transform: translateX(@menu-width);
              -ms-transform: translateX(@menu-width);
               -o-transform: translateX(@menu-width);
                  transform: translateX(@menu-width);
    }

    .ast-menu-wrap {
        left:0;
    }
}
